[submodule "checklists"]
	path = checklists
	url = https://github.com/Nillyr/octoreconf-checklists
[submodule "octoreconf/checklists"]
	path = octoreconf/checklists
	url = https://github.com/Nillyr/octoreconf-checklists
